.glow-on-hover {
    position: relative;
    z-index: 0;
  }
  
  .glow-on-hover::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    z-index: -1;
    background-size: 400%;
    filter: blur(5px);
    border-radius: 0.625rem; /* Match button's border-radius */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: glowing 20s linear infinite;
  }
  
  .glow-on-hover:hover::before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    z-index: -1;
    border-radius: 0.625rem;
  }
  
  .glow-on-hover:active {
    color: #000;
  }
  
  .glow-on-hover:active::after {
    background: transparent;
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

